*::before, *::after {
    box-sizing: border-box;
}

body {
    color : #4d4dad;
    margin : 0;
    height : calc(100vh - 20px);
}

.profs-list, .eleves-list {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.devSchool-text, .username{
    background: #4d4dad;
    box-shadow: 12px -12px 20px 12px rgba(77,77,173,0.5);
    color: white;
    font-size: 5em;
    padding: 12px;
    border-radius:50%;
    font-family: "Comic Sans MS", sans-serif;
}

.username {
    font-size: 1.5rem;
    box-shadow: none;
}

.con-btn {
    background: #4d4dad;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.content {
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    border: 10px solid #4d4dad;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.login-error {
    color: red;
    font-size: 1.1rem;
}